.formations-page {
    height: 100%;
    width: 100%;
    padding: 100px;
    color: var(--primary);
}

.formations-page .head h2 {
    margin-bottom: 30px;
}

.formations-page .head p {
    font-size: 15px;
    width: 50%;
}

.formations-page input {
    display: block;
    width: 50%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #1b223261;
    padding: 10px;
    margin-top: 30px;
    font-weight: 900;
    transition: .25s;
}

.formations-page input:focus {
    transition: .25s;
    border: solid 2px #1b2232;
}