.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary)
}

.not-found-container div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    margin-top: 150px;
}

.not-found-container button {
    margin: auto;
    color: var(--secondary);
    background-color: var(--fourth);
}