.add-article {
    margin-top: 50px;
}

.add-article h3 {
    color: var(--primary);
    margin-bottom: 30px;
}

.add-article > button {
    margin-top: 30px;
    font-size: 13px;
    color: var(--secondary);
    background-color: var(--fourth);
    font-weight: 600;
    padding: 10px 15px;
    border: none;
}

.add-article .upload-message {
    font-size: 14px;
    font-weight: 900;
    color: var(--fourth);
    margin: 30px 0;
}

.add-article .previsualisation {
    background-color: var(--thirdly);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
}

.add-article .previsualisation p {
    font-size: 14px;
}