.add-article {
    margin-top: 50px;
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

.add-article::-webkit-scrollbar {
    width: 2px;
}

.add-article h3 {
    color: var(--primary);
    margin-bottom: 30px;
}

.add-article form fieldset .element > button {
    margin-top: 30px;
    font-size: 13px;
    color: var(--secondary);
    background-color: var(--fourth);
    font-weight: 600;
    padding: 10px 15px;
    border: none;
}

.add-article form fieldset .element > button:disabled {
    background-color: grey;
    transform: none;
}

.add-article form fieldset {
    border: none;
}

.add-article .upload-message {
    font-size: 14px;
    font-weight: 900;
    color: var(--fourth);
    margin: 30px 0;
}

.add-article .previsualisation {
    background-color: var(--thirdly);
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
}

.add-article .previsualisation .ql-editor {
    padding: 0;
    overflow: initial;
}

.add-article .previsualisation p {
    font-size: 14px;
}

.add-article form fieldset .element label {
    font-weight: 900;
    display: block;
    color: var(--primary);
}

.quill {
    margin-top: 10px;
}

.add-article form fieldset:nth-child(2) {
    margin-top: 30px;
}

.add-article form fieldset:nth-child(1) .element input[type="text"],
.add-article form fieldset:nth-child(2) .element input[type="url"] {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1b223261;
    font-weight: 900;
    transition: .25s;
    height: 40px;
    margin-top: 10px;
    outline: none;
    width: 100%;
}

.add-article form fieldset:nth-child(2) .element input[type="text"]:focus,
.add-article form fieldset:nth-child(1) .element input[type="text"]:focus,
.add-article form fieldset:nth-child(2) .element input[type="url"]:focus {
    transition: .25s;
    border-color: #1b2232;
}

.add-article form fieldset:nth-child(2) .element input[type="file"]{
    margin-top: 10px;
}

.add-article form fieldset:nth-child(3) {
    margin-top: 30px;
}

.add-article form fieldset:nth-child(2) .inputs-container {
    display: flex;
    column-gap: 50px;
}

.add-article form fieldset:nth-child(2) .inputs-container input[type="url"],
.add-article form fieldset:nth-child(2) .inputs-container input[type="file"] {
    width: 50%;
}