#dashboard-view {
    display: flex;
}

aside {
    background-color: var(--primary);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;
    justify-content: space-between;
}

.profile-container {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside > ul {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

aside .border {
    border: 1px solid var(--secondary);
    border-radius: 50%;
    padding: 3px;
    width: max-content;
    margin: auto;
}

aside > ul .user-infos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

aside .user-infos {
    color: var(--secondary);
}

aside .user-infos h5 {
    margin-top: 15px;
}

aside .user-infos p {
    font-size: 10px;
    margin-top: 10px;
}

aside ul ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: var(--secondary);
    font-size: 13px;
}

aside ul ul li a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--secondary);
}

aside ul ul li img {
    width: 20px;
}

aside .actions {
    width: 100%;
}

aside .actions p {
    font-size: 14px;
    padding: 0 25px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    column-gap: 10px;
}

aside .actions p img {
    width: 20px;
}

.sections-container {
    padding: 40px;
    width: calc(100% - 200px)
}

.sections-container h2 {
    color: var(--primary);
}

.sections-container .actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.sections-container .actions button {
    background-color: var(--fourth);
    color: var(--secondary);
}

.sections-container .actions input {
    padding: 0 10px;
    width: 30%;
    outline: none;
}

.formation {
    display: flex;
    column-gap: 50px;
    color: var(--primary);
    position: relative;
    align-items: center;
}

.formation::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--fourth);
}

.formations {
    height: calc(100vh - 250px);
    overflow-y: auto;
}

.formations > li {
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.formation li p {
    font-size: 13px;
}

.titles ul {
    display: flex;
    column-gap: 50px;
    font-size: 14px;
}

.badge {
    width: 40px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    border-radius: 30px;
}

.badge.yes {
    color: var(--primary);
    background-color: rgb(47, 255, 0);
}

.badge.no {
    background-color: crimson;
    color: var(--secondary);
}

.formations .title,
.formations .description,
.formations .addDate,
.formations .publicationDate {
    width: 20%;
    padding-left: 10px;
}

.formations .published,
.formations .formation-actions {
    width: 10%;
    padding-left: 10px;
    position: relative;
}

.formation .formation-actions:hover {
    cursor: pointer;
}

.formation .formation-actions img {
    transition: .25s;
}

.formation .formation-actions:active img {
    transform: scale(0.8);
    transition: .25s;
}

.formations .titles {
    background-color: var(--primary);
    color: var(--secondary);
}

.formation .description {
    overflow: hidden;
}

.formation .description p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.formation .title {
    overflow: hidden;
}

.formation .title h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.add-formation-form {
    margin-top: 50px;
    color: var(--primary);
}

.add-formation-form .element {
    margin-top: 30px;
}

.add-formation-form .element label {
    font-weight: 900;
    display: block;
}

.add-formation-form form {
    display: flex;
    column-gap: 50px;
}

.add-formation-form input,
.add-formation-form textarea,
.add-formation-form fieldset {
    width: 100%;
}

.add-formation-form input,
.add-formation-form textarea {
    margin-top: 10px;
    outline: none;
}

.add-formation-form input[type="text"],
.add-formation-form textarea {
    padding: 10px;
}

.add-formation-form input {
    height: 36px;
}

.add-formation-form textarea {
    height: 225px;
    resize: none;
}

.add-formation-form fieldset {
    border: none;
}

.add-formation-form .element button {
    background-color: var(--fourth);
    color: var(--secondary);
}

.pop-up {
    background-color: var(--thirdly);
    padding: 5px;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: -50px;
    z-index: 5;
}

.pop-up.show {
    display: block;
}

.pop-up.hide {
    display: none;
}

.pop-up li {
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
}

.pop-up li:hover {
    background-color: rgba(0, 0, 0, 0.163);
}

.formation-actions .custom-container {
    width: max-content;
}