.inscriptions {
    height: calc(100vh - 250px);
    overflow-y: auto;
}

.inscriptions > li {
    position: relative;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.inscriptions .title {
    width: 200px;
    padding-left: 10px;
}

.inscriptions .titles {
    background-color: var(--primary);
    color: var(--secondary);
    width: max-content;
    padding-right: 10px;
}